# WEEK6
# 과제2 4입력 GATE 응용2
# 2학년 2반 2021041080 정승현

# INPUT 설정 ; X0, X1, X2, X3

NET "X0" LOC = R7;
NET "X1" LOC = M7;
NET "X2" LOC = E10;
NET "X3" LOC = C10;

# OUTPUT 설정 ; Y0, Y1, Y2, Y3

NET "Y0" LOC = C7;
NET "Y1" LOC = D5;
NET "Y2" LOC = D8;
NET "Y3" LOC = E7;
