## 2학년 2반 2021041080 정승현
## RS, D Fip-flop

# CLOCK-INPUT
NET "CLK" LOC=C10; 

# RS-INPUT
NET "S" LOC=R7;
NET "R" LOC=E10;

# RS-OUTPUT
NET "RS_Q" LOC=C7;
NET "RS_QVAR" LOC=D8;

# D-FF INPUT
NET "D_Q" LOC=F7;
NET "D_QVAR" LOC=A14;
