# 2학년 2반 2021041080 정승현
# WEEK14 4BIT 과제 1

#input 설정;

NET "A(0)" LOC= R7;
NET "A(1)" LOC= M7;
NET "A(2)" LOC= E10;
NET "A(3)" LOC= C10;

NET "B(0)" LOC= P6;
NET "B(1)" LOC= P4;
NET "B(2)" LOC= N5;
NET "B(3)" LOC= M6;


#OUTPUT 설정

NET "Y(0)"LOC=C7; 
NET "Y(1)"LOC=D5; 
NET "Y(2)"LOC=D8; 
NET "Y(3)"LOC=E7; 
NET "Y(4)"LOC=F7;
NET "Y(5)"LOC=A12;
