# 2학년 2반 2021041080 정승현
# WEEK14 Cascading 과제 2

NET "A(0)" LOC= R7;
NET "A(1)" LOC= M7;
NET "A(2)" LOC= E10;
NET "A(3)" LOC= C10;

NET "B(0)" LOC= P6;
NET "B(1)" LOC= P4;
NET "B(2)" LOC= N5;
NET "B(3)" LOC= M6;

NET "Y(0)"LOC=C7; 
NET "Y(1)"LOC=D5; 
NET "Y(2)"LOC=D8; 
NET "Y(3)"LOC=E7; 
NET "Y(4)"LOC=F7;
NET "Y(5)"LOC=A12;

NET "Cascading(0)" LOC=K14;
NET "Cascading(1)" LOC=K11;
NET "Cascading(2)" LOC=J14;

NET "Q(0)"LOC = A13; #TR0
NET "Q(1)"LOC = B14; #TR1
NET "Q(2)"LOC = C13; #TR2
NET "Q(3)"LOC = D11; #TR3

NET "FND(0)"LOC = A11; #P 
NET "FND(1)"LOC = A9; #G
NET "FND(2)"LOC = E6; #F
NET "FND(3)"LOC = D6; #E
NET "FND(4)"LOC = C8; #D
NET "FND(5)"LOC = C6; #C
NET "FND(6)"LOC = B8; #B
NET "FND(7)"LOC = A8; #A
