#ring counter 응용
#2학년 2반 2021041080 정승현
#2학년 2반 2021041028 김호중

#INPUT
net "clk" loc = c9;
net "rst" loc = j12;
net "load" loc = j14;

#OUTPUT
net "jq(0)" loc = c7;
net "jq(1)" loc = d5;
net "jq(2)" loc = d8;
net "jq(3)" loc = e7;

net "BEEP" loc = e11;
